arangoDB:
    addr: 'http://arangodb:8529/'
    dbName: dev
    username: root
    password: ""
    connLimit: 40

fiber:
    port: ":4000" # fiber server listen address

zoom:
    meetingExtendedTime: 10 # minute

github:
    apiToken: ""
    repoURL: ""

newebPay:
    apiUrl: "https://ccore.newebpay.com/MPG/mpg_gateway"
    apiVersion: "1.6"
    merchantID: "MS120977897"
    merchantHashKey: "BxAYvXbOzDaIl2COftkYYnIFXvix8YuR"
    merchantIV: "CosSwmGGiyqdegHP"